# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[user_auth_config]
endpoint=https://keystone.phx2.symcpe.net:443
strategy=keystone

# This should not be an admin user
[user]
username=tempest2
password=dxNsH.4X7F[R
tenant_name=tempest1

[images_admin_user]
username=tempest1
password=wz[4xCPfu@z7
tenant_name=tempest1

[images_secondary_user]
username=tempest2
password=dxNsH.4X7F[R
tenant_name=tempest1

[compute_endpoint]
region=phx2
compute_endpoint_name=nova

[flavors]
primary_flavor=1010
secondary_flavor=1021
resize_enabled=True

[images]
endpoint_name=glance
region=phx2
base_url=https://glance.phx2.symcpe.net:9292
primary_image=f2749543-13d1-4d48-b262-2b9d6652db0e
secondary_image=dfbfe9fc-d48f-4a88-80dd-b4b8d13463f5
image_status_interval=15
snapshot_timeout=900
created_at_offset=300
updated_at_offset=300
account_list=user
max_created_at_delta=60
max_updated_at_delta=60
max_expires_at_delta=60
test_file=/home/margarita/Downloads/cirros-0.3.0-x86_64-disk.img
resource_creation_attempts=1

[marshalling]
serialize_format=json
deserialize_format=json

# an image that is preloaded in your deployment for testing
test_image=f2749543-13d1-4d48-b262-2b9d6652db0e

# default properties used in some tests
test_container_format=xxx
test_disk_format=xxx

# remote_image is an image file hosted remotely
remote_image=fff

# http_image is an image file that Glance should attempt to download
http_image=ggg

# image_schema_json is the path of the json file
# which contains the image schema data
image_schema_json=.opencafe/data/image_schema.json

# images_schema_json is the path of the json file
# which contains the images schema data
images_schema_json=.opencafe/data/images_schema.json
