# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[user_auth_config]
endpoint=http://10.119.170.47:5000
strategy=keystone

[compute]
hypervisor=qemu

[compute_admin_auth_config]
endpoint=http://10.119.170.47:5000
strategy=keystone

[compute_endpoint]
region=RegionOne
compute_endpoint_name=nova

[compute_admin_endpoint]
region=RegionOne
compute_endpoint_name=nova

[user]
# This should not be an admin user
username=tempest_adm
password=leonfa/Rde2o
tenant_name=tempest_adm
tenant_id=8a3053fe6c434654894cd869af0e9086
user_id=tempest_adm
project_id=8a3053fe6c434654894cd869af0e9086

[compute_admin_user]
username=tempest_adm
password=leonfa/Rde2o
tenant_name=tempest_adm

[compute_secondary_user]
# This should not be an admin user
username=tempest1
password=wz[4xCPfu@z7
tenant_name=tempest1

[flavors]
primary_flavor=2
secondary_flavor=3
resize_enabled=True

[images]
non_inherited_metadata_filepath=<file_path>
primary_image=92a44168-f2fb-479d-b940-e4531d777bd2
secondary_image=92a44168-f2fb-479d-b940-e4531d777bd2
image_status_interval=15
snapshot_timeout=900
can_get_deleted_image=false
primary_image_has_protected_properties=false
primary_image_default_user=cirros

[servers]
ephemeral_disk_max_size=<max_ephemeral_size>
default_file_path=<remote_path>
instance_auth_strategy=key
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=private
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
connection_retry_interval=15
connection_timeout=600
split_ephemeral_disk_enabled=false
resource_build_attempts=1
disk_format_type=ext3
personality_file_injection_enabled=true
default_file_path=/
expected_networks={"private": {"v4": true, "v6": false}}

[config_drive]
openstack_meta_path=/mnt/config/openstack/latest/meta_data.json
ec_meta_path=/mnt/config/ec2/latest/meta-data.json
base_path_to_mount=/mnt/config
mount_source_path=/dev/disk/by-label/config-2
min_size=20
max_size=35

[networking_endpoint]
region=RegionOne
networking_endpoint_name=neutron
networking_endpoint_url=http://10.119.170.47:9696/v2.0
header_tenant_id=

[networking_admin_endpoint]
region=RegionOne
networking_endpoint_name=neutron
networking_endpoint_url=http://10.119.170.47:9696/v2.0
#header_tenant_id=<optional tenant id to set in request headers>

[networking_admin_auth_config]
endpoint=http://10.119.170.47:5000/v3
strategy=keystone

[networking_admin_user]
username=tempest_adm
password=leonfa/Rde2o
tenant_id=8a3053fe6c434654894cd869af0e9086
user_id=tempest_adm
project_id=8a3053fe6c434654894cd869af0e9086

[networking_secondary_user]
username=tempest1
password=wz[4xCPfu@z7
tenant_name=tempest1
tenant_id=9662fe4cfdc040ba9261655f7f05b042
user_id=tempest1
project_id=9662fe4cfdc040ba9261655f7f05b042

[networks]
public_network_id=71719efb-2c81-4281-b41e-a514ef991244
#service_network_id=<The uuid of the service/private network>
resource_build_attempts=3
keep_resources=False
keep_resources_on_failure=False
resource_create_timeout=60
resource_delete_timeout=60
starts_with_name=cloudroast_test_

[subnets]
resource_build_attempts=3
keep_resources=False
keep_resources_on_failure=False
resource_create_timeout=60
resource_delete_timeout=60
starts_with_name=cloudroast_test_
#ipv4_suffix=16
#ipv4_suffix_max=24
#ipv4_prefix=10.100.0.0
#private_ipv4_range=<Expected IPv4 private cidr range when creating subnets>
#ipv6_suffix=<Subnet create default IPv6 suffix>
#ipv6_suffix_max=<Subnet max suffix default value>
#ipv6_prefix=<Subnet create default IPv6 prefix>
#private_ipv6_range=<Expected IPv6 private cidr range when creating subnets>

[ports]
resource_build_attempts=3
keep_resources=False
keep_resources_on_failure=False
resource_create_timeout=60
resource_delete_timeout=60
starts_with_name=cloudroast_test_

[networking]
check_response_attrs=False
use_compute_api=True


[contrail]
api_server_ip=10.119.170.47
fabric_service_ip=10.119.170.37
fabric_service_port=80
fabric_service_name=www.vim.org
