# ======================================================
# devstack.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a devstack configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[user_auth_config]
endpoint=https://keystone.phx2.symcpe.net:443
strategy=keystone

[compute_admin_auth_config]
endpoint=https://keystone.phx2.symcpe.net:443
strategy=keystone

[compute_endpoint]
region=phx2
compute_endpoint_name=nova

[compute_admin_endpoint]
region=phx2
compute_endpoint_name=nova

[user]
username=tempest2
password=dxNsH.4X7F[R
tenant_name=tempest1
tenant_id=9b06a6ee4f154d53b1d80ea3f84142d6
user_id=tempest2
project_id=9b06a6ee4f154d53b1d80ea3f84142d6

[compute]
hypervisor=qemu

[compute_admin_user]
username=tempest1
password=wz[4xCPfu@z7
tenant_name=tempest1

[compute_secondary_user]
username=tempest2
password=dxNsH.4X7F[R
tenant_name=tempest1

[flavors]
primary_flavor=1010
secondary_flavor=1021
resize_enabled=True

[images]
primary_image=a7149e47-09d6-4e34-8f07-31a8af0b4d8e
secondary_image=ed557575-f7de-409b-bdcc-35ffef70d06c
image_status_interval=15
snapshot_timeout=60
can_get_deleted_image=true
primary_image_has_protected_properties=false
primary_image_default_user=cirros
image_factor=3

[default-quota-set]
ram=100000
cores=20

[objectstorage]
region=ash2
identity_service_name=swift

[servers]
instance_auth_strategy=key
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=private
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
default_network=163797ed-1f08-4e1e-9580-1689f002f974
connection_retry_interval=15
connection_timeout=600
split_ephemeral_disk_enabled=false
resource_build_attempts=1
disk_format_type=ext3
personality_file_injection_enabled=true
default_file_path=/
expected_networks={"private": {"v4": true, "v6": false}}

[config_drive]
openstack_meta_path=/mnt/config/openstack/latest/meta_data.json
ec_meta_path=/mnt/config/ec2/latest/meta-data.json
base_path_to_mount=/mnt/config
mount_source_path=/dev/disk/by-label/config-2
min_size=20
max_size=35
