# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[tokens_api]
serialize_format=json
deserialize_format=json
version=v3
authentication_endpoint=https://keystone.ash2.symcpe.net:443/v3

[identity_v3]
serialize_format=json
deserialize_format=json
global_authentication_endpoint=https://keystone.ash2.symcpe.net:443/v3
role_for_grant_id=
role_for_grant_name=tests
user_for_test_roles=star_test_user
group_for_test_roles=test_domain_a

[identity]
global_authentication_endpoint=https://keystone.ash2.symcpe.net:443/v3

[default_user]
username=tempest_adm
password=leonfa/Rde2o
tenant_name=tempest_adm
tenant_id=0757e2fa5ef64075b5e8ee168213f90a
user_id=tempest_adm
project_id=0757e2fa5ef64075b5e8ee168213f90a
user_domain_name=Default
user_domain_id=default
domain_name=default
domain_id=default
authentication_endpoint=https://keystone.ash2.symcpe.net:443/v3
scope_domain_id=default
scope_project_id=0757e2fa5ef64075b5e8ee168213f90a
