# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[tokens_api]
serialize_format=json
deserialize_format=json
version=v3
# username=tempest_adm
# password=leonfa/Rde2o
# tenant_name=tempest_adm
authentication_endpoint=https://keystone.dvt2.symcpe.net:443/v3

[identity_v3]
serialize_format=json
deserialize_format=json
global_authentication_endpoint=https://keystone.dvt2.symcpe.net:443/v3
role_for_grant_id=90e0d08bad774556be0c0243b73be4e5
role_for_grant_name=tetst
user_for_test_roles=star_test_user
group_for_test_roles=test_domain_a

[identity]
global_authentication_endpoint=https://keystone.dvt2.symcpe.net:443/v3

[default_user]
username=tempest_adm
password=leonfa/Rde2o
tenant_name=tempest_adm
tenant_id=47b9bd0a367e42cfb00f57c5bf64dbf8
user_id=tempest_adm
project_id=47b9bd0a367e42cfb00f57c5bf64dbf8
user_domain_name=Default
user_domain_id=default
domain_name=default
domain_id=default
authentication_endpoint=https://keystone.dvt2.symcpe.net:443/v3
scope_domain_id=default
scope_project_id=47b9bd0a367e42cfb00f57c5bf64dbf8
