# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[tokens_api]
serialize_format=json
deserialize_format=json
version=v3
username=tempest_adm
password=leonfa/Rde2o
tenant_name=tempest_adm
authentication_endpoint=http://10.119.170.47:5000

[identity_v3]
global_authentication_endpoint=http://10.119.170.47:5000

[identity]
global_authentication_endpoint=http://10.119.170.47:5000
